body {
    font-family: 'Times New Roman', serif;
    font-weight: 300;
  }
  
  header {
    padding: 20px 0;
  }
  
  header .row,
  footer .row {
    display: flex;
    align-items: center;
  }
  
  header h1 {
    font-weight: 300;
    margin: 0;
  }
  
  header nav {
    display: flex;
    justify-content: flex-end;
  }
  
  header p {
    padding: 0 18px;
    margin: 0;
    font-size: 24px;
  }

  header p2 {
    padding: 0 1px;
    margin: 0;
    font-size: 24px;
  }


  body p {
    margin: 0;
    font-size: 24px;
  }
  
  .jumbotron {
    display: flex;
    align-items: center;
    background-image: url('https: //i.postimg.cc/Dyx2G92w/pink-pastel-the-unification-of-computer-science-art-and-equity-for-a-peaceful-world-in-2040-beauti-6.png');
    background-size: cover;
    color: #ffffff;
    height: 500px;
    text-shadow: 0.25px 0.25px 0.25px #000000;
  }
  
  .jumbotron h2 {
    font-size: 58px;
    font-weight: 600;
    margin: 0;
    color: #fff;
  }
  
  .highlight {
    display: flex;
    padding: 20px 0;
    background: #006079;
    color: #ffffff;
  }

  .highlight2 {
    display: inline;
    padding: 10px 0;
    background: #006079;
    color: #ffffff;
  }

  .jumbotron h3 {
    margin: 0 0 20px;
    color: #fff;
  }
  
  section .row img {
    margin: 0 0 30px;
    width: 100%;
  }
  
  .col-md-6 {
    margin: 0 0 30px;
  }
  
  .btn.btn-primary {
    border-radius: 2px;
    border: 0px;
    color: #006079;
    text-shadow: none;
    background-color: #ffffff;
  }
  
  .btn.btn-primary:hover {
    color: #ffffff;
    background-color: #f08e59;
  }
  
  .btn-secondary {
    background-color: #ffffff;
    color: #000000;
    font-size: 24px
  }
  
  footer {
    font-size: 12px;
    padding: 20px 0;
  }
  
  footer p{
    font-size: 12px;
    padding: 20px 0;
  }

  footer .col-sm-8 {
    display: flex;
    justify-content: flex-end;
  }
  
  footer ul {
    list-style: none;
  }
  
  footer li img {
    width: 32px;
    height: 32px;
  }
